body {
	background-color: red;
	font-family: 'Lobster', cursive;
}

.Zagolovok{
	padding: 20px 40px 20px 40px;
	text-align: center;	
	font-size: 50px;
	border-radius: 160px 160px 160px 160px;  
	background:  gold;
	cursor: pointer;
	box-shadow: 10px 8px 20px black;
	transition: 1s;

}
.Zagolovok:hover{
	font-size: 55px;
	background-color: white;
	border-radius: 160px 0 160px 0;
	text-shadow: 0 0 10px red;
	border: 2px solid red;
}
	
.grid {
	display: grid;
	grid-template-rows: 10em 1fr 1fr 4em;
	grid-template-columns: 1fr;
}

.item1 {
	justify-self: center;
	width: auto;
	
}

.itemImg {
	width: 300px;
	height: 200px;
	transition: 0.5s;
	cursor: pointer;
}
.itemImg:focus{
	width: 105%;
	height: 105%;
	outline: none;
	box-shadow: 10px 8px 20px black, -10px 8px 20px black;
}

.text {
	padding: 0 0 20px 0; 
	transition: 0.5s;
	cursor: pointer;
	text-align: justify;
	font-size: 18px;

}

.text:focus{
	padding: 5px 5px 5px 5px; 
	background: linear-gradient(to right, red, black);
	color: white;
	outline: none;

}

.gridImg {
	display: grid;
	grid-gap: 15px;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-items: center;
}
.audioItem {
	
}